.navbar {
  transition: background-color 0.3s ease; 
}
.navbar-solid {
  background-color: rgba(0, 123, 255, 1); 
  transition: background-color 0.3s ease-in-out;
}

.navbar-transparent {
  background-color: rgba(0, 123, 255, 0.5); 
  transition: background-color 0.3s ease-in-out;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}