#caracteristica {
    background-color: #F6E3BA;
}

.salon-info-background {
    background-color: #f0f8ff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

hr {
    height: 2px;  
    background: rgba(0, 123, 255, 1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    border: none; 
}