*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    max-width: 100%;
  }
  
  .sociales-container {
    background-image: url('/images/paisaje5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupa toda la pantalla */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .sociales-container h1 {
    font-size: 6rem;  /* Tamaño de letra más grande */
    font-family: 'Georgia', serif;  /* Fuente formal */
    font-weight: 600;  /* Hace que la letra sea más gruesa pero elegante */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
